@import "tailwindcss";

.tab-btn {
    @apply px-4 py-2 text-gray-600 font-medium rounded-t-lg hover:text-blue-600;
}
.active-tab {
    @apply border-b-2 border-blue-600 text-blue-600;
}
.input {
    @apply w-full border border-gray-300 rounded-lg p-2 focus:ring-2 focus:ring-blue-400 focus:outline-none;
}
